body,html{
    height:100%;
  }
  
  .background {
     position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;             
    height: 100vh; 
    background-image: url('https://images.unsplash.com/photo-1608306587579-d385dd828eee?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MzEzNTEyOTZ8&ixlib=rb-4.0.3&q=85');
   background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index:-1 ;  
  }
  
  .content {
    position: relative;
    z-index: 1;
  }
  
  /* nav bar */
  
  .nav{
     display:flex;
     justify-content:center;
     position:fixed;
     top:0%;
     left:0%;
     width:100%;
     background-color:#1a1a1a;
     box-shadow:0 2px 0;
     z-index:10;
  }
  
  .nav-list{
     display:flex;
     margin-right:2rem;
  }
  
  .nav-list a{
     padding:2rem;
  }
  
  a{
     color:white;
     text-decoration:none;
  }
  
  ul {
    list-style-type:none;
  }
  
  svg {
    display:flex;
    justify-content:flex-end;
    margin-left:520%;
    padding-top:8%;
    background-color:white;
    border-radius:40px;
  }
  
  nav .cart{
    position:relative;
  }
  
  nav .cart .carttotal{
    display:inline;
    width:30px;
    height:30px;
    background-color:red;
    color:white;
    margin-left:570%;
    border-radius:20px;
  }
  
  .cartprice{
    display:inline;
    width:30px;
    height:30px;
    background-color:red;
    color:white;
    margin-left:560%;
    border-radius:20px;
  }
  
  /* title */
  
  .title{
    display:flex;
    justify-content:center;
    Padding-top:50px;
    
  }
  
  .heading{
    display:flex;
    justify-content:center;
    Padding-top:20px;
  }
  
  h1 {
    box-sizing: border-box;
    border: solid black 5px;
    box-shadow:5px 5px 10px;
    padding: 10px;
    background-color:#BCAAA4;
    
  }
  
  /* main section */
  
  h3, h4 {
    display:flex;
    justify-content:center;
  }
  
  .heading {
    
  }
  
  /* buttons */
  
  .addCart {
    margin-left:10px;
    background-color:#757575;
    color:#E0E0E0;
    border-radius:20px;
  }
  
  .remove{
    margin-left:190px;
    background-color:#DD2C00;
    color:#E0E0E0;
    border-radius:20px;
  }
  
  /*optics*/
  
  .optics {
     display:flex;
     justify-content:space-evenly;
    padding: 5px;
    margin-bottom:40px;
  }
  
  .reflex {
    box-sizing: border-box;
    border: solid black 5px;
    box-shadow:5px 5px 10px;
    padding: 10px;
    background-color:#BCAAA4;
  }
  
  .reflexdot{
    display:flex;
    justify-content:center;
    box-sizing: border-box;
    border: solid black 3px;
    box-shadow:0px 0px 20px;
  }
  
  .reddot {
    box-sizing: border-box;
    border: solid black 5px;
    box-shadow:5px 5px 10px;
    padding: 10px;
    background-color:#BCAAA4;
  }
  
  .romeo5{
    display:flex;
    justify-content:center;
    box-sizing: border-box;
    border: solid black 3px;
    box-shadow:0px 0px 20px;
  }
  
  .trijicon {
    box-sizing: border-box;
    border: solid black 5px;
    box-shadow:5px 5px 10px;
    padding: 10px;
    background-color:#BCAAA4;
  }
  
  .sro{
    display:flex;
    justify-content:center;
    box-sizing: border-box;
    border: solid black 3px;
    box-shadow:0px 0px 20px;
  }
  
  /* lights */
  
  .lights {
     display:flex;
     justify-content:space-evenly;
    padding: 5px;
    margin-bottom:40px;
  }
  
  .lumens {
    box-sizing: border-box;
    border: solid black 5px;
    box-shadow:5px 5px 10px;
    padding: 10px;
    background-color:#BCAAA4;
  }
  
  .lumenslight {
    display:flex;
    justify-content:center;
    box-sizing: border-box;
    border: solid black 3px;
    box-shadow:0px 0px 20px;
  }
  
  .duty {
    box-sizing: border-box;
    border: solid black 5px;
    box-shadow:5px 5px 10px;
    padding: 10px;
    background-color:#BCAAA4;
  }
  
  .dutylight {
    display:flex;
    justify-content:center;
    box-sizing: border-box;
    border: solid black 3px;
    box-shadow:0px 0px 20px;
  }
  
  .cloud {
    box-sizing: border-box;
    border: solid black 5px;
    box-shadow:5px 5px 10px;
    padding: 10px;
    background-color:#BCAAA4;
  }
  
  .cloudlight{
    display:flex;
    justify-content:center;
    box-sizing: border-box;
    border: solid black 3px;
    box-shadow:0px 0px 20px;
  }
  
  /* Grips */
  
  .grips {
     display:flex;
     justify-content:space-evenly;
    padding: 5px;
    margin-bottom:40px;
    
  }
  
  .magpull {
    box-sizing: border-box;
    border: solid black 5px;
    box-shadow:5px 5px 10px;
    padding: 10px;
    background-color:#BCAAA4;
  }
  
  .magpullgrip {
     display:flex;
    justify-content:center;
    box-sizing: border-box;
    border: solid black 3px;
    box-shadow:0px 0px 20px;
  }
  
  .kiro {
    box-sizing: border-box;
    border: solid black 5px;
    box-shadow:5px 5px 10px;
    padding: 10px;
    background-color:#BCAAA4;
  }
  
  .kirogrip {
     display:flex;
    justify-content:center;
    box-sizing: border-box;
    border: solid black 3px;
    box-shadow:0px 0px 20px;
  }
  
  .fab {
    box-sizing: border-box;
    border: solid black 5px;
    box-shadow:5px 5px 10px;
    padding: 10px;
    background-color:#BCAAA4;
  }
  
  .fabgrip {
    display:flex;
    justify-content:center;
    box-sizing: border-box;
    border: solid black 3px;
    box-shadow:0px 0px 20px;
  }
  
  
  
  /*footer*/
  
  .footer{
     display:flex;
     justify-content:center;
     position:fixed;
     top:0%;
     left:0%;
     width:100%;
     background-color:#1a1a1a;
     box-shadow:0 2px 0;
     z-index:10;
  }